@font-face{
    font-family:myfont;
    src:url('font/GE_SS_Two_Bold.otf')
}

@font-face{
    font-family:myfont2;
    src:url('font/DroidKufi-Regular.ttf')
}

.navbar-default {
    background-color: #0c5c82;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #e7e7e7;
    font-family:myfont;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.nav>li {
    position: relative;
    display: block;
    height: 50px;
    padding: 1px;
}
.myfooter{
    background-color:cornflowerblue;
    padding-top:0px;
    padding-bottom:0px;
    font-family:myfont;
    text-align:justify;

}
.subfooter{
    background-color:darkblue;
    color:white;
    padding:0px;
    text-align:center;
}
.myfooter a{
    color:azure;
}
.myfooter p{
    color:azure;
}
.myfooter h3,ul,p{
    margin-bottom:20px;
    font-family:myfont2;
}